
.info{
    display: block;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    height: 50vw;
    margin-left: 15vw;
    margin-top: 13%;
    flex-wrap: wrap;
}
.right {
    display: block;
    width: 30vw;
    height: 22vw;
    background-color: #2B2B2B;
}