.image-container{
    width: 100%;
    height: 100vh;
    background-image: url(image-container.jpg);
}

.opening{
    background-color: #2B2B2B;
    color:white;
    position: absolute;
    margin-top: 27.2%;
    margin-left: 1%;
    height: 50vh;
    width: 27vw;
    text-align : center;
}
.opening h2{
    font-size: 30px;
    margin-top: 20px;
}
.opening h3{
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
}
.startInfo{
    margin-left: 8%;
    text-align: left;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 5px;
}
.rightTriangle{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 50vh solid transparent;
    border-left: 15vw solid #2B2B2B;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    margin-top: 27.2%;
    margin-left: 28.3%;
    
}

.buttons{
    background: linear-gradient(to right,rgb(214, 14, 225), rgb(98, 14, 141)) padding-box,
            linear-gradient(to right, rgb(214, 14, 225), rgb(98, 14, 141)) border-box;
        border-radius: 1em;
        border: 5px solid transparent;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        font-size: 20px;
        width: 200px;
        height: 50px;
}
.learn{
    text-align: left;
    margin-left: 6%;
    margin-top: 10%;
}



.computer-repair.hover, 
.virus-removal.hover, 
.laptop-repair.hover{
    width: 0vw;
    height: 55vh; 
    background-image: url(image-container.png);
    /* border: 5px solid transparent;
    border-image: linear-gradient(to right, #008080, #7800C6) 1; */
}
.computer-repair,
.virus-removal,
.laptop-repair {
    margin-left:5vw;
}

.black-space{
    width: 35vw;
    height: 55vh;
    background-color: #2B2B2B;
}

.laptop-repair > .black-space{
    margin-left: 55.3vw;
}

.black-right-triangle{
    position: absolute;
    border-top: 55.1vh solid transparent;
    border-left: 15vw solid #2B2B2B;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    margin-left: 35vw;
    margin-top: -55vh;
}

.black-left-triangle {
    position: absolute;
    border-top: 55.1vh solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-right:15vw solid #2B2B2B;
    margin-left: 40.3vw;
    margin-top: -55vh;
}
body{
    background-color: black;
}