@import "../utils/size.scss";

@mixin flex($content){
    display: flex;
    justify-content: $content;
}

footer{
    @include size(100%, 40vh);
    display: flex;
    background-color: #2B2B2B;
    color: white;
    a {
        color: white;
        text-decoration: none;
        height: 20px;
    }

    .footer-left {
        @include flex(center);
        width: 50vw;
        float: left;
        flex-direction: column;
        .footer-row {
            @include flex(space-evenly);
            @include size(40vw, 10vh);
            padding-top: 10vh;
            font-size: 1.5vw;
            border-bottom: 2px solid white;
            margin-left: auto;
            margin-right: auto;
        }
        .footer-column{
            @include flex(space-evenly);
            @include size(50vw, 10vh);
            padding-top: 5vh;
            font-size: 1.5vw;
        }
    }

    .footer-right{
        width: 50vw;
        float: right;
        img{
            @include size(48vw, 35vh);
        }
    }
}