@import "./parts/nav.scss", "./parts/footer.scss", "./parts/index.scss";

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
}

::-webkit-scrollbar {
    width: 5px;
    background: black;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
}